<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <configSections>
        </configSections>
        <connectionStrings>
                <add name="TelerikWpfApp1.Properties.Settings.EtudiantBDConnectionString"
                        connectionString="Data Source=DESKTOP-DUS1CLA\SQLEXPRESS;Initial Catalog=EtudiantBD;Integrated Security=True"
                        providerName="System.Data.SqlClient" />
                <add name="TelerikWpfApp1.Properties.Settings.testConnectionString"
                        connectionString="Data Source=DESKTOP-DUS1CLA\SQLEXPRESS;Initial Catalog=test;Integrated Security=True"
                        providerName="System.Data.SqlClient" />
                <add name="TelerikWpfApp1.Properties.Settings.ProjetBDConnectionString"
                        connectionString="Data Source=DESKTOP-DUS1CLA\SQLEXPRESS;Initial Catalog=ProjetBD;Integrated Security=True"
                        providerName="System.Data.SqlClient" />
        </connectionStrings>
        <startup>
            
        </startup>
</configuration>